# Ignore build outputs
/target/
/build/

# Ignore logs and screenshots
/logs/
/Logs/
/screenshots/

# Ignore extent reports (generated)
/Reports/
/reports/

# Ignore logs folder with date (you can ignore all Logs* folders)
Logs_*/

# Ignore TestNG test-output folder
test-output/


# IDE files
/.idea/
/*.iml
/.vscode/

# OS files
.DS_Store
Thumbs.db

.settings/
.classpath
.project

/bin/
